@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a asp-controller="Home" asp-action="alann">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    Hellow @ViewBag.Name working as @ViewBag.Prof
</div>
