@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewBag.College</h1>
<div>@ViewBag.College</div>


@for(int i = 0; i < 10; i++)
{
    <div>@i</div>
}

<br/>

@for(int i = 1;i<20;i = i + 2)
{
    <div>@i</div>
}