@{
    ViewData["Title"] = "Home Page";
}

<div>@ViewBag.Hello</div>
<form method="post" action="/home/index">
    <div>
        <label>Name</label>
        @Html.TextBox("Name")
    </div>
    <div>
        @Html.Label("Location")
        @Html.TextBox("Location")
    </div>
    <input type="submit"/>
</form>
